<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All-Leave_login</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/53a8c415f1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href={{url_for('static',filename='css/login.css')}}>
    <script src="static/js/login.js"></script>
</head>
<body>
    <form name="join_form" action="{{ url_for('auth.sign_in') }}" method="POST" onsubmit="return joinform_check();">
        <div class="wrap">
        <div class="login">
            <img src="./static/logo.png" alt="logo">
            
            <div class="login_id">
                <h4>아이디</h4>
                <input type="text" name="login_id" id="login_id" placeholder="아이디를 입력하세요">
            </div>
            <div class="login_pw">
                <h4>비밀번호</h4>
                <input type="password" name="login_pw" id="login_pw" placeholder="비밀번호를 입력하세요">
            </div>

            <div class="submit-login">
                <button type="submit">로그인</button>
                {% if messages %}
                    {% for category, message in messages %}
                        {%if category == 'error'%}
                            <div class="alert alert-{{ category }}">{{ message }}</div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
            <div class="submit-gaib">
                <button type="button" onclick="document.location.href='sign-up'">회원가입</button>
            </div>

        </div>
    </div>
</form>
</body>
</html>